%h2
  Forgot Password?

= form_tag password_resets_path do
  %label Your Email
  = text_field_tag :email, params[:email]
  %br
  = submit_tag "Reset Password", :class => :btn
  |
  = link_to 'Cancel', root_path