= "Hey #{@user.full_name},"
%br
%br
So glad you registered at 
= link_to "DayhomeRegistry.com",root_url
=". It looks like you haven't logged in yet, so this is just a gentle reminder that to set your password, click on the link below and follow the instructions:"

%p
	= link_to 'Set my password', edit_password_url(@user, :reset_password_token => @token) 

%br
%br
Cheers,
%br
Faye