= "Hey #{@user.full_name},"
%br
%br
So glad you registered at 
= link_to "DayhomeRegistry.com",root_url
=". To confirm your email and set your password, click on the link below and follow the instructions:"
%br
= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token)
%br
%br
Cheers,
%br
Faye