= "Hey #{@user.full_name},"
%br
%br
So glad you registered at 
= link_to "DayhomeRegistry.com",root_url
=". To confirm your email and set your password, click on the link below and follow the instructions:"
%br
- recover_pw_url = reset_password_instructions_url(@user.single_access_token)
= link_to recover_pw_url, recover_pw_url
%br
%br
Cheers,
%br
Faye