= "Hey #{@user.full_name},"
%br
%br
We're sorry to hear you forgot your password - to reset your password, click on the link below and follow the instructions:
%br
- recover_pw_url = reset_password_instructions_url(@user.single_access_token)
= link_to recover_pw_url, recover_pw_url
%br
%br
Best,
DayHomeRegistry.com