// Variable adjustments
$brand-primary:         #52BE60 !default;
$brand-success:         #52BE60 !default;
$brand-info:            #23affa !default;
$brand-warning:         #f08816 !default;
$brand-danger:          #d9534f !default;

$green: #52BE60;
$yellow: #f0df73;
$red: #FE1A00;
$blue: #23affa;
$light-grey: #e3e3e3;
$dark-grey: #798e94;

//Airbnb
@font-face{
	font-family:Airglyphs;
	src: url(font-path('airglyphs-webfont.eot'));
    src: url(font-path('airglyphs-webfont.eot')+'?#iefix') format('embedded-opentype'),
         url(font-path('airglyphs-webfont.eot')) format('woff2'),
         url(font-path('airglyphs-webfont.eot')) format('woff'),
         url(font-path('airglyphs-webfont.eot')) format('truetype'),
         url(font-path('airglyphs-webfont.eot')+'#airglyphsregular') format('svg');
    font-weight:normal;
	font-style:normal
}
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);*/
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700,100,100italic,400italic,700italic,500,500italic);
$icon-font-path: '/assets/';
$font-family-sans-serif:  'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

// Bootstrap - Core variables and mixins
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

// Bootstrap - Reset and dependencies
@import "../bootstrap/normalize";
@import "../bootstrap/print";
@import "../bootstrap/glyphicons";

// Bootstrap - Core
@import "../bootstrap/scaffolding";
@import "../bootstrap/type";

// Dayhome Registry
html, body {
	height:100%;
}
.container-fluid {
	min-height:100%;
}
body {
	font-family: $font-family-base;
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.no-left-gutter {
	margin-left: -15px;
}
.no-right-gutter {
	margin-right: -15px;
}
.no-right-padding {
	padding-right: 0;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	position: static;
	margin-left: 0;
}