// Bootstrap - Core CSS
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Our stuff
.page-container:before, .page-container:after {
	content: " ";
	display: table;
}
.page-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;

	font-size: 14px;
	line-height: 1.43;
	color: #565A5C;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header .medium-right-margin {
  	margin-right: 20px;
}
header .nav ul {
	margin-bottom: 0;
}
header .nav li {
  	line-height: 28px;
}
.subnav:before, .subnav:after {
	content: " ";
	display: table;
}
.subnav:after {
	clear: both;
}

.row-space-top-4 {
	margin-top: 25px;
}
.btn-xlg, .btn-group-xlg > .btn {
	padding: 20px 27px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	padding: 20px 27px;
}
.row-space-2 {
  margin-bottom: 12.5px;
}
.row-space-top-2 {
  margin-top: 12.5px;
}
.row-space-3 {
  margin-bottom: 18.75px;
}
.row-space-top-3 {
  margin-top: 18.75px;
}
.row-space-4 {
  margin-bottom: 25px;
}
.row-space-top-4 {
  margin-top: 25px;
}
.row-space-5 {
  margin-bottom: 31.25px;
}
.row-space-top-5 {
  margin-top: 31.25px;
}
.row-space-6 {
  margin-bottom: 37.5px;
}
.row-space-top-6 {
  margin-top: 37.5px;
}
@media screen and (min-width: $screen-md-min){
	.col-top, .col-middle, .col-bottom {
		float: none;
		display: table-cell;
	}
	.col-middle {
		vertical-align: middle;
	}
}
@media screen and (max-width: $screen-sm-min) {
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	  padding-left: 7.5px;
	  padding-right: 7.5px;
	}
}
