
#location_input {
	width: 89%;
}
#header-location {
	width: 78%;
}
#menu-label {
	border-radius:4px;
	border:solid $green 1px;
	padding: 2px 4px 2px 4px;
	background: $green;
	color:white;
}
li.user-item {
	padding-top:2px;
}
li.inbox-item {
	padding-top:3px;
	margin-right: 5px;
}