%h2
  You've been approved!
%p
  Thank you so much for registering your dayhome with us on 
  = link_to "DayhomeRegistry.com",root_url  
%p
  We are thrilled to have you as part of our growing community of awesome Albertan dayhomes.
%p
  We'd recommend that you 
  =link_to "login",root_url+"login"
  and add some pictures to your today as soon as possible.  Dayhomes with pictures get noticed.
%p
  Of course, we're here to help so 
  =mail_to "contact@dayhomeregistry.com", "drop us a line"
  and we'll happily answer any questions you have.
  
%p
  Just a couple of things:
%p
  If you are a Start Up Dayhome, we have a fabulous package for you that has ALL the materials you will need for staying organized and looking professional when communicating with your parents. You can find the entire package here: 
  %a{href:"http://shop.dayhomeregistry.com/collections/frontpage/products/dayhome-starter-package"}
    Dayhome Starter Package
%p
  Be sure you written a great blurb and provided a lot of information for parents! Some things to include:
  %ul
    %li
      a little about you, your philosophies, experience, rates, etc.  
    %li
      your nutrition policy, if you have one. 
    %li
      a couple pictures of the space the children will be spending their time, and making sure the spaces look very inviting and child-friendly.
    %li
      Finally, if you have your first aid, police clearance, or any other certifications, be sure to list them. That is something parents definitely look for.
%p
  As a gift to you, and a bonus for registering, you can click this link to download the
  =link_to "ABCs for your Dayhome Made Fun and easy", "https://www.dropbox.com/s/h46fiz6urfg5k5s/ABCs%20for%20dayhomes.docx?dl=0"
  =".  Enjoy!"
%p 
  Lastly, if you refer 3 dayhomes to us, who all register, your registration fee for next year will be waved!  Please pass it on :)
%p
  If you are in need of any further assistance, please let us know. We are here to help.  Once your pictures are up, I will share your information on Social Media (Pinterest, Facebook and Twitter)

%p  
  Cheers,
  %br
  Faye