%h2
  You've been approved!
%p
  We've reviewed your request and are happy to report that you are the newest dayhome registered on 
  = link_to "DayhomeRegistry.com",root_url
%p
  We'd recommend that you 
  =link_to "login",root_url+"login"
  and add some pictures to your today as soon as possible.  Dayhomes with pictures get noticed.
%p
  Of course, we're here to help so 
  =mail_to "contact@dayhomeregistry.com", "drop us a line"
  and we'll happily answer any questions you have.
%p  
  Cheers,
  %br
  Faye