%h2
  You're account has been cancelled.
%p
  We're sorry to see you go, but thanks for letting us know.
%p
  Of course, we're here to help so if you change your mind or have any other questions, 
  =mail_to "contact@dayhomeregistry.com", "drop us a line."
%p
  We'll happily answer any questions you've got.
%p  
  Cheers,
  %br
  Faye