%h2
  ="Someone has requested #{@community.name} as a community!"
%div{:style=>"width:540px;"}
  %p
    ="#{@organization.name} just registered and would like to use #{@community.name} as a community.  We should decide if we want to keep it."

