-if flash.any?  
  .alert.alert-danger
    %h3
      It seems that 
      = pluralize(flash.count, "error")
      prevented this page from being saved:
    %ul  
      - flash.each do |type, value|
        %li
          = raw (value )
.row.registrationStyle
  .well.form-horizontal
    %h2
      New dayhome
    = render 'form'