:javascript
  $(function(){
    var name = $( "#name" ),
      email = $( "#email" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( email ).add( password ),
      tips = $( ".validateTips" );
 
    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      //setTimeout(function() {
      //  tips.removeClass( "ui-state-highlight", 1500 );
      //}, 500 );
    }
 
    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }
 
    function checkRegexp( o, regexp, n ) {
      if ( !( regexp.test( o.val() ) ) ) {
        o.addClass( "ui-state-error" );
        updateTips( n );
        return false;
      } else {
        return true;
      }
    }
 
    $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Purchase Credits": function() {
          var bValid = true;
          allFields.removeClass( "ui-state-error" );
          var self = $(this);
          if ( bValid ) {
            
            $.ajax({
              type: 'POST',
              url: "#{billing_add_path()}",
              data: $("#dialog-form form").serializeArray(),
              dataType: 'json'
            })
            .done(function(data, text, xhr){
              $('.feature-count').html(data);
              //success
              self.dialog( "close" );
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
              updateTips(jqXHR.responseText);
            }); 
          }
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      },
      close: function() {
        allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });
 
    $( "#create-user" )
      .button()
      .click(function() {
        $( "#dialog-form" ).dialog( "open" );
      });
  });

.row
  .span12
    %h2
      Extras

.row
  .span12
    %p
      Featuring your dayhome on Dayhome registry has been shown to increase traffic by up to 300%.  If you've got a space to fill, it's a no-brainer.
    %h3
      Feature credits
    %div
      .span-12.credit-container
        You can currently feature 
        %span.feature-count>
          =@organization.features.where("day_home_id is null").count
        dayhomes for month.
      .span-12
        %strong= link_to 'Buy a credit', '#', :id=>"create-user",:class => 'add_multiples_link', 'data-group' => 'feature', 'data-attribute-key' => 'feature_attributes'
      .clear
    %h3
      Featured dayhomes
    .span-12
      You can feature a dayhome on the 
      =link_to 'dayhomes page', day_homes_path()
    .clear
      %br
    .span-12
      - Feature.joins(:organization).where("organizations.id = ?",@organization.id).where("end > now()").each do |feature|                    
        .row
          .span-4
            =link_to feature.day_home.name,day_home_path(feature.day_home)
          .span-12
            Featured from
            = feature.start
            to
            = feature.end
      .clear
      
#dialog-form{:title => "Buy credits"}
  %p.validateTips 
  =form_for(Feature.new, :url=>billing_add_path(), :method=>:put, :remote=>true) do |f|
    %fieldset
      %label{:for => "number"} Number of Credits
      %input#number.span1.text.ui-widget-content.ui-corner-all{:name => "number", :type => "text"}/
      