<div class="container">
  <div class="navbar navbar-fixed-top ">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <header>
    <h1>Dayhomes</h1>
    <p class="lead">Get those kids in care!</p>
  </header>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <a href="#">
          <img src="http://placehold.it/360x268" alt="">
        </a>
        <h5>Jane's Kids</h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="#">
          <img src="http://placehold.it/360x268" alt="">
        </a>
        <h5>Classicalia</h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="#">
          <img src="http://placehold.it/360x268" alt="">
        </a>
        <h5>Rainbow Room</h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </li>
  </ul>
</div>
