%h3 Edit Event
// URL is updated by javascript, so we just use events for now
= render 'events/form', :type => :put, :pre => 'edit', :id => 'edit_event', :the_class => 'edit_event', :url => '/events/', :button_text => 'Edit Event'