.aboutPage	
	%h2
		Our Story
	%p
		= image_tag 'aboutPhoto.png', :class => 'aboutPhoto', :alt => 'About Dayhome Registry'
		Dayhome Registry is owned and operated by Faye and Jon Holt. Jon is, in his words &quot;a technical therapist&quot; who helps people and companies with all sorts of computer technology issues, and Faye is a part time teacher who is passionate about what is best for kids, no matter what.
	%p
		We are two working parents who really struggled to find quality child care for our two children. In 6 years, we have been through five different child care arrangements; nannies, dayhomes, friends, etc. Some worked out, but ended because of timing, some were a disaster. One evening, we were out and talking/worrying about finding good quality child care for our kids. I said &quot;Wouldn't it be great if there was a good way to search for a great dayhome in our area that is available part time and will accommodate dietary needs (our son is gluten, dairy and soy intolerant)?&quot; Both our eyes lit up at the thought of being able to provide an efficient way to connect quality dayhomes, or other childcare arrangements, and the parents who so desperately need them.
	%p
		We do this by allowing you to manage your own content; to advertise the best you offer with tools to keep in touch with your families and other dayhomes. For parents, we offer a completely searchable site. “Need a dayhome on your way to work, that has part time care available?” Enter that criteria into the system, and you will have a list of dayhomes for you.