.aboutPage  
  %h2
    The time has come...
  %p
    = image_tag 'kids_young.png', :class => 'aboutPhoto', :alt => 'About Dayhome Registry'
    As many of you know, Dayhome Registry has been a labour of love for two hard working people who try to parent at an 11. But, if nothing else is certain in life, the fact that your kids will grow up is.
  %p
    After 6 incredible years, our kids have long since out grown a dayhome, and the passion we once had for helping parents find quality care has waned. While we could keep this site alive and half-heartedly support it, we feel that finding quality childcare is too important a job to trust to someone whose heart isn't in it. 
    = image_tag 'kids.png', :class => '', :style => 'float:left;padding:10px;', :alt => 'About Dayhome Registry'
  %p
    %b
      It's for that reason that we've decided to shut down Dayhome Registry as of January 1st, 2018.  
  %p
    As such, we've turned off registrations since we know from experience that November and December are slow months and new dayhomes won't see much benefit. We will keep the site active and the search live until New Year's day.  After that, we will be refunding any unused subscription months for those private dayhomes that have purchased a year in advance.
    
  %p
    It's been a slice. So long for now...
  %p
    Faye and Jon Holt