:javascript
  $(document).ready(function() {
    $('#coin-slider').coinslider({  width: 500,
                                    effect: 'straight',
                                    height: 300,
                                    navigation: true,
                                    delay: 5000,
                                    titleSpeed: 700 });
  });



.featured.span7
  #featureTop
  #featureDetails
    %h2 Featured Dayhomes

  #coin-container
    #coin-slider
      #homes
        - @featured_day_homes.each do |featured_day_home|
          %a{:href => day_home_slug_path(featured_day_home.slug), :target => "_blank"}
            %img{:src=>"#{featured_day_home.photos.first.photo_url(:reg)}"}
            %span
              %h4
                = featured_day_home.name
              - if featured_day_home.blurb.present?
                %p
                  = featured_day_home.blurb
  #featureBtm
.callToAction.span4
  %h3 Day home owner?
  %p
    Are you a day home owner? Would you like a fast, easy way for
    parents to find your company, and tools to keep them informed
    once they have found you?
  %p
    Register your day home today for easy access to a whole new
    client base.
  %p
    = link_to 'Sign Up!'.html_safe, [:new, :day_home_signup_request], :id => 'signUp'

