

<div id="mainContent">
	<div class="wrapper">
		<div class="row">
			<div class="content span12">
				<div class="featured span7">
					<h2>Featured Dayhome</h2>
					<h3>Wonderful Dayhome - 123 Fake St Edmonton, AB</h3>

					<!--Jquery Slider-->
						<ul id="slideshow">
							<li>
								<h3>TinySlideshow v1</h3>
								<span>images/photos/orange-fish.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<a href="#"><img src="images/thumbnails/orange-fish-thumb.jpg" alt="Orange Fish" /></a>
							</li>
							<li>
								<h3>Sea Turtle</h3>
								<span>images/photos/sea-turtle.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<img src="images/thumbnails/sea-turtle-thumb.jpg" alt="Sea Turtle" />
							</li>
							<li>
								<h3>Red Coral</h3>
								<span>images/photos/red-coral.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<a href="#"><img src="images/thumbnails/red-coral-thumb.jpg" alt="Red Coral" /></a>
							</li>
							<li>
								<h3>Coral Reef</h3>
								<span>images/photos/coral-reef.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<a href="#"><img src="images/thumbnails/coral-reef-thumb.jpg" alt="Coral Reef" /></a>
							</li>
							<li>
								<h3>Blue Fish</h3>
								<span>images/photos/blue-fish.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<img src="images/thumbnails/blue-fish-thumb.jpg" alt="Blue Fish" />
							</li>
							<li>
								<h3>TinySlideshow v.2</h3>
								<span>images/photos/yellow-fish.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<a href="#"><img src="images/thumbnails/yellow-fish-thumb.jpg" alt="Yellow Fish" /></a>
							</li>
							<li>
								<h3>Squid</h3>
								<span>images/photos/squid.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<a href="#"><img src="images/thumbnails/squid-thumb.jpg" alt="Squid" /></a>
							</li>
							<li>
								<h3>Small Fish</h3>
								<span>images/photos/small-fish.jpg</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut, felis.</p>
								<a href="#"><img src="images/thumbnails/small-fish-thumb.jpg" alt="Small Fish" /></a>
							</li>
						</ul>
						<div id="sliderWrapper">
						
								<div id="fullsize">
									<div id="imgprev" class="imgnav" title="Previous Image"></div>
									<div id="imglink"></div>
									<div id="imgnext" class="imgnav" title="Next Image"></div>
									<div id="image"></div>
									<div id="information">
										<h3></h3>
										<p></p>
									</div>
								</div>
								<div id="thumbnails">
									<div id="slideleft" title="Slide Left"></div>
									<div id="slidearea">
										<div id="slider"></div>
									</div>
									<div id="slideright" title="Slide Right"></div>
								</div>
						</div><!--sliderWrapper-->
						<!--end of slider-->

				</div><!--featured-->

				<div class="callToAction span4">
					<h3>Dayhome Owner?</h3>
					<p>Are you a dayhome owner? Would you like a fast, easy 
way for parents to find your  company? <br/>
Register your dayhome today for easy access to a whole new client base.</p>
					<a href="#" id="signUp"><p>Sign Up!</p></a>
				</div><!--callToAction-->
			</div><!--content-->
			<div id="contentShadow"></div>
		</div><!--row-->
	</div><!--wrapper-->
</div><!--mainContent-->

<div class="wrapper">
	<div class="footerShadow"></div>
	<div id="footerInfo">
	<div class="row">
		<div class="span12">
			<div class="about span3">
				<h2>About Us</h2>
				<p>Dayhome Registry is your answer for all of your dayhome searching needs!</p>
				<p>Being a parent is busy enough. The mission of Dayhome Registry is to make being a parent a little easier.</p>
			</div><!--about-->
			<div class="contact span3">
				<h2>Contact Us</h2>
				<p>Have any questions or concerns about Dayhome Registry? We'd love to hear from you.</p>
 				<p>Email us at <a href="#">contact@dayhomeregistry.com</a></p>
			</div><!--contact-->
			<div class="social span3">
				<h2>We're Social</h2>
				<p><img src="images/icons/facebook.png"> <a href="#">Friend Us</a> on Facebook</p>
				<p><img src="images/icons/twitter-2.png"> <a href="#">Follow Us</a> on Twitter</p>
				<p><img src="images/icons/google-plus.png"> <a href="#">Plus Us</a> on Google+</p>
				<p><img src="images/icons/pinterest.png"> <a href="#">Pin Us</a> on Pinterest</p>
			</div><!--social-->
		</div><!--footerInfo-->
	</div><!--span12-->
	</div><!--row-->
</div><!--wrapper-->	

<footer>
	<p>&copy; <a href="#">Dayhome Registry 2012</a> | Read our <a href="#">Privacy Policy</a></p>
</footer>

	<script type="text/javascript">
	$('slideshow').style.display='none';
	$('sliderWrapper').style.display='block';
	var slideshow=new TINY.slideshow("slideshow");
	window.onload=function(){
		slideshow.auto=true;
		slideshow.speed=5;
		slideshow.link="linkhover";
		slideshow.info="information";
		slideshow.thumbs="slider";
		slideshow.left="slideleft";
		slideshow.right="slideright";
		slideshow.scrollSpeed=4;
		slideshow.spacing=5;
		slideshow.active="#fff";
		slideshow.init("slideshow","image","imgprev","imgnext","imglink");
	}
</script>
</body>
</html>