.row
  .span12
    .pricingHeader
      Dayhome owner?
    .bottom
.row
  .span12
    .pricingBlurb
      Are you a dayhome owner? Would you like a
      %b
        fast, easy
      way for parents to find your company, and tools to keep them informed once they have found you?
      %b
        Register your dayhome today
      for easy access to a whole new client base.
.row
  .span4
    .colHeader.baby
      .colHeaderContent
        Baby Bear
      %br
        %del
          $5.99
        %strong
          FREE!!!
    .colContent.baby
      %ul
        %li
          Basic Dayhome page
        %li
          Monthly newsletter
        %li
          Searchable
        %li
          Single picture
  .span4
    .colHeader.mama
      .colHeaderContent
        Mama Bear
      %br
        %del
          $19.99
        %strong
          FREE!!!
    .colContent.mama
      %ul
        %li
          Full dayhome page
        %li
          Forum Access
        %li
          Calendar
        %li
          Monthly newsletter
        %li
          Picture gallery
  .span4
    .colHeader.papa
      .colHeaderContent
        Papa Bear
      %br
        %strong
          $39.99
        .coming
          %strong
            Coming soon…
    .colContent.papa
      %ul
        %li
          Receipts for ease at tax time
        %li
          Credit card payments
        %li
          Generate invoices from your calendar
        %li
          Budgeting tools

.row
  .span12
    = link_to 'Register Now!'.html_safe, [:new, :day_home_signup_request], :class => "callToActionButton pricingRegister"

.row
  .span12
    .contentHeader
      Dayhome page
.row
  .span12
    .contentBlurb.reg
      Your dayhome will have a
      %b
        unique URL address.
      You will be able to
      %b
        load pictures, update availability, edit your calendar, and advertise your dayhome
      to potential clients.
      Our basic level will allow only one picture at a time, the Standard level will allow a
      %b
        rotating picture gallery, complete with written descriptions.

.row
  .span12
    .contentHeader
      Forum
.row
  .span12
    .contentBlurb.reg
      This is a message board for dayhome owners to
      %b
        connect
      to each other.
      ONLY dayhomes will have access to the forum, so you can
      %b
        discuss issues openly.
      Want to arrange a park play date with another dayhome in your area?
      %b
        This will be a great way to arrange that!

.row
  .span12
    .contentHeader
      Calendar
.row
  .span12
    .contentBlurb.cal
      Your dayhome is
      %b
        unique
      , with
      %b
        unique activities
      going on each day.
      Your online calendar will be a great tool to
      %b
        communicate those activities with parents.
      Need to take a bunch of kids with cabin fever to the park in the middle of winter?
      %b
        Remind parents to send warm clothing for that day!
      The calendar will also help you
      %b
        keep track
      of which child has been with you on what day, which will make payments
      %b
        easier to calculate at the end of the month.

.row
  .span12
    .contentHeader
      Monthly Newsletter
.row
  .span12
    .contentBlurb.reg
      You will have access to a
      %b
        monthly newsletter
      , emailed directly to you, which will have ideas for
      %b
        new recipes, craft ideas, games and a developmental article.
      Recipes will include ways to modify for different
      %b
        allergies
      or
      %b
        dietary needs.

.row
  .span12
    = link_to 'Register Now!'.html_safe, [:new, :day_home_signup_request], :class => "callToActionButton pricingRegister"
