
%table.pricingTable.upgrade-page{:align => "center", :cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr{:valign => "top"}
      %th.pricingSelect
        Choose Your Plan
      %th.package_78.enabled.column_4.selected_package{ :width => "135"}
        Baby Bear
        .price
          %strong
            %span.dollar-sign Free
        %a.button.medium.green{:href => ""}
          %span Select
      %th.package_79.enabled.column_3{ :width => "135"}
        Mama Bear
        .price
          %strong
            %span.dollar-sign> $
            %span> 50
            %span.cents 00
          %span.permonth> /mth
        %a.button.medium.green{:href => ""}
          %span Select
      %th.package_80.enabled.column_2{ :width => "135"}
        Papa Bear
        .price
          %strong
            %span.dollar-sign> $
            %span> 100
            %span.cents> 00
          %span.permonth> /mth
        %a.button.medium.green{:href => ""}
          %span Select
      %th.package_81.enabled.column_1{ :width => "135"}
        Goldilocks
        .price
          %strong
            %span.dollar-sign> $
            %span> 200
            %span.cents> 00
          %span.permonth> /mth
        %a.button.medium.green{:href => ""}
          %span Select
    %tr
      %td.pricingLeft
        \# of dayhomes you can manage
      %td.package_78.enabled{:rel => "78"}
        %strong 1
      %td.package_79.enabled{:rel => "79"}
        %strong 50
      %td.package_80.enabled{:rel => "80"}
        %strong 250
      %td.package_81.enabled{:rel => "81"}
        %strong Unlimited
    %tr
      %td.pricingLeft
        Waiting lists
      %td.package_78.enabled{:rel => "78", :style => "cursor: pointer;"}
        %span 0
        %span.row-tiny ($10 each additional)
      %td.package_79.enabled{:rel => "79"}
        %span 10
        %span.row-tiny ($10 each additional)
      %td.package_80.enabled{:rel => "80"}
        %span 100
        %span.row-tiny ($10 each additional)
      %td.package_81.enabled{:rel => "81"}
        %span Unlimited
    %tr
      %td.pricingLeft
        Additional staff who can access your account
      %td.package_78.enabled{:rel => "78"}
        %span 0
      %td.package_79.enabled{:rel => "79"}
        %span 1
        %span.row-tiny ($10 each additional)
      %td.package_80.enabled{:rel => "80"}
        %span 2
        %span.row-tiny ($10 each additional)
      %td.package_81.enabled{:rel => "81"}
        %span 5
        %span.row-tiny ($10 each additional)
    %tr
      %td.pricingLeft
        \# of Locales
      %td.package_78.enabled{:rel => "78", :style => "cursor: pointer;"}
        1
      %td.package_79.enabled{:rel => "79"}
        %span 1
      %td.package_80.enabled{:rel => "80"}
        %span 5
        %span.row-tiny ($10 each additional)
      %td.package_81.enabled{:rel => "81"}
        %span Unlimted
    %tr.last-row
      %td.pricingLeft
        \ 
      %td.package_78.enabled.column_3{:rel => "78", :style => "cursor: pointer;"}
        %a.button.medium.green.a_package78{:href => ""}
          %span Select
      %td.package_79.enabled.column_2{:rel => "79"}
        %a.button.medium.green.a_package79{:href => ""}
          %span Select
      %td.package_80.enabled.column_1{:rel => "80"}
        %a.button.medium.green.a_package80{:href => ""}
          %span Select
      %td.package_81.enabled.column_1{:rel => "81"}
        %a.button.medium.green.a_package81{:href => ""}
          %span Select

= hidden_field_tag 'choose-package'