%h2
  Dayhome owner?

.row
  .span12
    .hero-unit
      Are you a dayhome owner? Would you like a fast, easy way for parents to find your company, and tools to keep them informed once they have found you?
      Register your dayhome today for easy access to a whole new client base.

.row
  .span4
    .colHeader.border-radius
      .colHeaderContent
        Basic
      %br
        %del
          $5.99
        %strong
          FREE!!!
    .colContent
      %ul
        %li
          Basic Dayhome page
        %li
          Monthly newsletter
        %li
          Searchable
        %li
          Single picture
  .span4
    .colHeader
      .colHeaderContent
        Standard
      %br
        %del
          $19.99
        %strong
          FREE!!!
    .colContent
      %ul
        %li
          Full dayhome page
        %li
          Forum Access
        %li
          Calendar
        %li
          Monthly newsletter
        %li
          Picture gallery
  .span4
    .colHeader
      .colHeaderContent
        Premium
      %br
        %strong
          $39.99
        .coming
          %strong
            Coming soon…
    .colContent
      %ul
        %li
          Generate invoices from your calendar
        %li
          Receipts for ease at tax time
        %li
          Credit card payments
        %li
          Budgeting tools