.row.js-section
  .col-xs-12.col-md-4
    %h3 Certifications
    %p.text-muted
      Tell parents what you know. Check all that apply.
  .col-xs-12.col-md-8
    = simple_form_for(@dayhome, :url => beta_dayhome_setAddress_path(@dayhome), :html => { :method => :post , :class=>"form-horizontal"}) do |f| 
      .js-submit-group#certifications-form{data:{url:"/setCertifications"}}
        - CertificationType.all.each do |certification|
          .form-group
            = f.label certification.kind, :class => :checkbox do 
              = check_box_tag 'day_home[assign_certification_type_ids]['+certification.id.to_s+']', certification.id, @dayhome.certification_type_ids.include?(certification.id), class: 'checkbox-control'
              = certification.kind
.row.text-center.row-space-top-2
  .col-xs-12.col-sm-6.col-md-6
    %a{href:beta_dayhome_location_path()}
      %button.btn.btn-primary.btn-lg.pull-left.main-nav-btn
        %span.glyphicon.glyphicon-arrow-left
        Location
  .col-xs-12.col-sm-6.col-md-6
    %a{href:beta_dayhome_spots_path()}
      %button.btn.btn-primary.btn-lg.pull-right.main-nav-btn.js-next-btn
        Spots
        %span.glyphicon.glyphicon-arrow-right

-content_for :tooltips do
  .tooltip.help-tooltip{"data-event" => "none", "data-trigger" => "#js-photo-grid", :style =>"display:block; top: 60px;left:75%; opacity: 1; position:absolute; margin:15px;"}
    .media
      %i.pull-left.icon.icon-light-bulb.icon-blue.icon-beach.icon-size-2
      .media-body.text-lead.text-muted.help-tooltip-body
        %strong Certifications
        %p Parents can filter search results by the certifcations you hold. Be sure to put select all those you currently have, and you might think about adding some more.