.row.text-center.row-space-top-2
  .col-xs-12.col-md-6
    %a{href:beta_dayhome_photos_path()}
      %button.btn.btn-primary.btn-lg.pull-left.main-nav-btn
        %span.glyphicon.glyphicon-arrow-left
        Photos
  .col-xs-12.col-md-6
    %a{href:beta_dayhome_certifications_path()}
      %button.btn.btn-primary.btn-lg.pull-right.main-nav-btn.js-next-btn
        Certifications
        %span.glyphicon.glyphicon-arrow-right