.row.js-section
  .col-xs-12.col-md-4
    %h3 Plan
    %p.text-muted
      Start with our basic <i>Baby Bear</i> plan, and upgrade for more features.
  .col-xs-12.col-md-8
    -if @dayhome.organization.plan =="baby"
      =@dayhome.organization.plan
    -else 
      %p
        You don't have a plan, off to the shop with you to pick one.
      %p
        %a{href: '/shop/recurring/plans'}
          %button#js-list-space-button.animated.btn.btn-large.btn-special.btn-primary
            Add a plan
.row.text-center.row-space-top-2
  .col-xs-12.col-sm-6.col-md-6
    %a{href:beta_dayhome_spots_path()}
      %button.btn.btn-primary.btn-lg.pull-left.main-nav-btn
        %span.glyphicon.glyphicon-arrow-left
        Certifications
  .col-xs-12.col-sm-6.col-md-6
    

-content_for :tooltips do
  .tooltip.help-tooltip{"data-event" => "none", "data-trigger" => "#js-photo-grid", :style =>"display:block; top: 60px;left:75%; opacity: 1; position:absolute; margin:15px;"}
    .media
      %i.pull-left.icon.icon-light-bulb.icon-blue.icon-beach.icon-size-2
      .media-body.text-lead.text-muted.help-tooltip-body
        %strong Plans
        %p Plans are by subscription (either monthly or yearly) and can be cancelled at any time.