.dayhome_bubble{:class => dayhome.photos.empty? ? 'bubble_without_pic' : 'bubble_with_pic' }
  .name
    %h4=link_to(dayhome.name, day_home_slug_path(dayhome.slug))
  .bubble_pic
    =link_to(dayhome.photos.empty? ? '' : image_tag(dayhome.photos.first.photo_url(:thumb)), day_home_slug_path(dayhome.slug))
  %div
    =dayhome.city  + ' , ' + dayhome.province
  %div
    =dayhome.postal_code
  %div
    =dayhome.street1
  %div.availability
    Availability:
    - avail = dayhome.availability
    -if avail.empty?
      =image_tag("circle-empty.png", :title=> "Closed")
    -else
      -if avail.include? "Full-time"
        =image_tag("circle-full.png", :title=> "Full-time")
      -if avail.include? "Part-time"
        =image_tag("circle-half.png", :title=> "Part-time")

