
.dayhome_bubble{:class => dayhome.featured_photo.nil? ? 'bubble_without_pic' : 'bubble_with_pic' }
  .name
    %h4=link_to(dayhome.name, day_home_slug_path(dayhome.slug))
  .bubble_pic    
    =link_to(dayhome.featured_photo.nil? ? '' : image_tag(dayhome.featured_photo.photo_url(:thumb)), day_home_slug_path(dayhome.slug))
  %div
    =dayhome.city  + ' , ' + dayhome.province
  %div
    =dayhome.postal_code
  %div
    =dayhome.street1
  %div.availability
    Availability:
    - avail = dayhome.availability.to_a
    -if avail.empty?
      =image_tag("circle-empty.png", :alt=> "Closed", :title=> "Closed")
    -else
      -if avail.include? "Full-time"
        =image_tag("circle-full.png", :alt=> "Full-time", :title=> "Full-time")
      -if avail.include? "Part-time"
        =image_tag("circle-half.png", :alt=> "Part-time", :title=> "Part-time")

  - if @agencies.include?(dayhome.organization)
    %div
      Operated by:
    %div
      -if dayhome.organization.logo
        =image_tag(dayhome.organization.logo.photo_url(:thumb))
      -else
        =dayhome.organization.name
    .markdown
      -if !dayhome.organization.blurb.blank?
        = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true).render(dayhome.organization.blurb).html_safe
  .add
    <!-- 234x60 -->
    <ins class="adsbygoogle" style="display:inline-block;width:234px;height:60px" data-ad-client="ca-pub-6835867491393885" data-ad-slot="3925033656"></ins>

