.row
  .span4
    =render 'form'
  .span8
    =gmaps(:map_options => { :center_latitude => @search.search_pin.nil? ? Search::EDMONTON_GEO[:lat] : @search.search_pin["lat"],
                             :center_longitude => @search.search_pin.nil? ? Search::EDMONTON_GEO[:lng] : @search.search_pin["lng"],
                             :zoom => @search.search_pin.nil? ? 11 : 12},
           :markers     => { :data => @day_homes })
