:javascript
  $('[rel=tooltip]').tooltip({placement:'right'});

.row
  .span12
    %h2
      = Thanks for the note!

    %p
      :plain
        <div class="fb-like" data-href="#{day_home_slug_url(@day_home.slug)}" data-send="false" data-layout="button_count" data-width="55" data-show-faces="false"></div>

        <g:plusone size="medium"></g:plusone>

        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>

        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

.row
  .span12
    %p
      We just wanted to say a quick thanks for your interest.  The dayhome or agency will get back to you in the next couple of days.
    %p
      Click
      =link_to "here",day_home_slug_path(@day_home.slug)
      to get back to #{@day_home.name}