:javascript
  $('[rel=tooltip]').tooltip({placement:'right'});

.row
  .span12.col-lg-12.col-md-12.col-sm-12
    %h2
      Thanks for the note!
.row
  .span12.col-lg-12.col-md-12.col-sm-12
    %p
      We just wanted to say a quick thanks for your interest.  The dayhome or agency will get back to you in the next couple of days.
    %p
      Click
      =link_to "here",day_home_slug_path(@day_home.slug)
      to get back to #{@day_home.name}