/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 *= require jquery-star-rating
 *= require jquery-ui-1.8.18.custom
 *= require jquery.modal
 *= require searches
 *= require pricing
 
*/
$green: #52BE60;
$yellow: #f0df73;
$red: #FE1A00;
$blue: #23affa;
$light-grey: #e3e3e3;
$dark-grey: #798e94;

.red {
  color: $red;
}
.yellow {
  color: $yellow;
}
.clear {
  clear: both;
}

body,
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

body {
  width: 100%;
  border: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: $green;
  text-decoration: none;
}
h1 {
  font-size: 25.888px;
}
header {
  width: 70%;
  height: 88px;
  margin: auto;

  margin-bottom:2em;
  position: relative;
  
  border-bottom: 2px solid $dark-grey;
}

header > div {
}

#logo {
  height: 85px;  
  float: left;
  background: #ffffff  url('http://dl.dropbox.com/u/76665191/mini-logo.jpg') no-repeat;
  
  width: 100px;
}
#nav {
  font-size: 18px;
  height: 85px;  
  margin-left: 100px;
  
  ul.main-nav {
    float: left;
    margin-top: 62px;
    margin-bottom: 0;
    
    li {
      float: left;
      margin: 0 1em 0 1em;
    }
    a {
      color: $dark-grey;
    }
    a.yellow {
      color: $yellow;
    }

    a:hover {
      border-top: 2px solid $dark-grey;
    }      
  }

  ul.client-menu {
    float: right;
    margin-top: 62px;
    padding-bottom:5px;
    background-color: $dark-grey;
    
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;  
    
    li {
      float: left;
      margin: 0 1em 0 1em;
    }
    
    a {
      color: $light-grey;
    }
    a:hover {
      border-top: 2px solid $yellow;
      color: $yellow;
    }     
    
  }
}
#subnav {
  clear:left;
  ul {
    margin: 1px 0;
    float: left;
    background-color: $dark-grey;
    padding-top:3px;
    padding-bottom:3px;
    
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;  
    
    -webkit-box-shadow: 
        0 15px 10px -10px rgba(0, 0, 0, 0.5), 
        0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 
        0 15px 10px -10px rgba(0, 0, 0, 0.5), 
        0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 
        0 15px 10px -10px rgba(0, 0, 0, 0.5), 
        0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1) inset;

    li {
      float: left;
      margin: 0 1em 0 1em;
    }
  
  }
}
#searchQuery {
  width:200px;
  margin-right:4px;
  font-size:16px;
}
#charm {
  background-color: $light-grey;
  color: $dark-grey;
  width:200px;
  height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 .5em;
  
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;  

  > div {
    
    margin: 4px auto 4px auto; 
    text-align: center;
    
    
    a {
      color: $dark-grey !important;
      padding-left: 4px;
      padding-right: 4px;
    }
    a:hover {
      border-top: 2px solid $dark-grey;
    }
  }
}

#main {
  width: 70%;
  margin: auto;
}

footer {
  clear: both;
  border-top: 1px solid $dark-grey;
  width: 70%;
  margin: 2.68em auto;
}
footer > div {
  width: 30%;
  float: left;
  padding: 1em;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

.aboutPhoto {
  float: right;
  margin: 0 0 14px 16px;
}