/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 *= require jquery-star-rating
 *= require searches
 *= require pricing
 *= require billing
 *= require organization
 *= require dayhomes
 *= require slides

 *= require gmaps4rails
 *= require searches
 
*/
@import 'jquery.ui.core';
@import 'jquery.ui.datepicker';

$iconSpritePath: image-url("glyphicons-halflings.png") !default;
$iconLogoPath: image-url("mini-logo.jpg") !default;

@import "bootstrap";
 
$green: #52BE60;
$yellow: #f0df73;
$red: #FE1A00;
$blue: #23affa;
$light-grey: #e3e3e3;
$dark-grey: #798e94;

.red {
  color: $red;
}
.yellow {
  color: $yellow;
}
.blue {
  color: $blue;
}
.clear {
  clear: both;
}

/* 2520 */
body,
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

body {
  font-size: 16px;
  width: 100%;
  border: 0;
  margin: 0;
}
form {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: $green;
  text-decoration: none;
}

h1 {
  font-size: 25.888px;
}
header {
  background: #ffffff  image-url("banner-sm.png") no-repeat right top;
  
  width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 1em;    
}


#logo {
  height: 146px;  
  
  clear:both;
  width: 487px;
}
#searchBox {
  input {
    margin-top: 5px;
  }
  a{
    padding-left:0;
  }
  a.blue {
    color:$blue;
  }
}
.rightb a {
  text-decoration: none;
  padding-left: 1.25em;
}
#nav {
  width: 100%;
  margin: 0 0 0 0;
  font-size: 18px;
  padding-top: .5em;
  
  
  ul.right {
    float: right;
    
    li {
      float: left;
      margin: 0 1em 0 1em;
    }
    li:last-child {
      margin: 0 0 0 1em;
    }
  }
  ul.left{
    float: left;
    li {
      float: left;
      margin: 0 1em 0 1em;
    }
    li:last-child {
      margin: 0 0 0 1em;
    }
  }
  a {
    color: $green;
  }
  a.red {
    color: $red;
  }
  a.yellow {
    color: $yellow;
  }
  a.blue {
    color: $blue;
  }
  a:hover {
    border-top: 2px solid $dark-grey;
  }
}
.searchWrapper {
  margin-top: -.2em;
}
#search {
  height:22px;
}
#subnav {
  clear:left;
  margin-top: 3px;
  ul {
    margin: 1px 0;
    float: left;
    background-color: $dark-grey;
    padding-top:3px;
    padding-bottom:3px;
    
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;  
    
    -webkit-box-shadow: 
        0 15px 10px -10px rgba(0, 0, 0, 0.5), 
        0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 
        0 15px 10px -10px rgba(0, 0, 0, 0.5), 
        0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 
        0 15px 10px -10px rgba(0, 0, 0, 0.5), 
        0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1) inset;

    li {
      float: left;
      margin: 0 1em 0 1em;
    }
  
  }
}
#searchQuery {
  width:200px;
  margin-right:4px;
  font-size:16px;
}



#main {
  width: 80%;
  margin: auto;
}
.social-home {
  color: #999;
  font-size: 15px;
}
.social-home-twitter {
  width: 20%;
  float: left;
  margin: 15px 10px 0 0;
}
.social-home-facebook {
  width: 20%;
  float: left;
  margin: 15px 10px 0 0;
}
.social-home-pinterest {
  width: 20%;
  float: left;
  margin: 15px 10px 0 0;
}
.social-home-google {
  width: 20%;
  float: left;
  margin: 15px 10px 0 0;
}
footer {
  clear: both;
  border-top: 1px solid $dark-grey;
  width: 80%;
  margin: 2.68em auto;
}
footer > div {
  width: 32%;
  float: left;
  padding: 1em;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
.aboutPage {
  width: 80%;
  margin: auto;
}
.aboutPhoto {
  float: right;
  margin: 0 0 14px 16px;
}
.float_left {
  float:left;
}
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-25, div.span-26, div.span-27, div.span-28, div.span-29, div.span-30, div.span-31, div.span-32, div.span-33, div.span-34, div.span-35, div.span-36, div.span-37 {
  float: left;
  min-height: 1px;
}
div.span-7.first {
  margin-left:0;
}
.form-horizontal .control-group::before, .form-horizontal .control-group::after {
  display: table;
  content: "";
}
.form-horizontal .control-group::after {
  clear: both;
}
.form-horizontal .control-group::before, .form-horizontal .control-group::after {
  display: table;
  content: "";
}
.form-horizontal .control-label {
  float: left;
  font-weight: 700;
  line-height: 18px;
  padding-right: 20px;
  text-align: right;
  width: 160px;
}
.signin-form .control-group::before, .form-horizontal .control-group::after {
  display: table;
  content: "";
}
.signin-form .control-group::after {
  clear: both;
}
.signin-form .control-group::before, .form-horizontal .control-group::after {
  display: table;
  content: "";
}
.signin-form .control-label {
  float: left;
  font-weight: 700;
  line-height: 18px;
  padding-right: 20px;
  width: 100px;
}
.signin-form .controls .checkbox input {
  margin-left:0;
}
/*
.form-horizontal input[type=text],.form-horizontal input[type=password],.form-horizontal textarea,.form-horizontal select,.form-stacked input[type=text],.form-stacked input[type=password],.form-stacked textarea,.form-stacked select
{
  background-color:#fafafa;
  border-width:1px;
  border-style:solid;
  border-color:#bbb #ddd #ddd #bbb;
  -webkit-box-shadow:0 1px #e5e5e5 inset;
  -moz-box-shadow:0 1px #e5e5e5 inset;
  box-shadow:0 1px #e5e5e5 inset;
  -o-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  padding:4px 3px;
  margin-top:-4px;
}*/
.input-prepend .add-on, .input-prepend .btn {
margin-right: -5px;
}
label {
margin-top: 5px;
margin-bottom: 0;
}
.floatr {
  float:right;
}
.topright {
  position:absolute;
  top:0;
  right:0;
  margin: 1% 1%;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $green;
  border-color: $green;
}
.pagination > li > a, .pagination > li > span {
  color: $green;
}
.well {
  position:relative;
}
.wellSize {
  min-height: 340px;
}
.dayhome_listing {
  margin-top: 1em;
}

/* New page layout */

#featureReel > div {
  width: 711px; 
  margin-left: auto;  
  margin-right: auto;
  min-height: 185px;
  background: #76753f;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(120, 119, 65,0.8)), to(rgba(118, 117, 63,0.2)));
  background: -moz-linear-gradient(left, rgba(120, 119, 65,0.8), rgba(118, 117, 63,0.2));
  border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#featureReel > div > h1 {
  color: #fff;
  font-size: 28px;
  margin: 0 0 0 20px;
  position: relative;
  padding-top: 20px;
}

#featureReel > div > div {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  margin: 20px 20px 0 20px;
  position: relative;
}

label.btn.btn2 {
  margin: 20px 0 0 20px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 4px solid #747227;
  color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align: middle;
  padding: 0;
  position: relative;
  background: #c9ce3c;
  border-color: #b0b534;
}
input.btn.btn2 {
  cursor: pointer;
  background: transparent;
  display: inline-block;
  font-weight: normal;
  padding: 6px 25px;
  border: none;
  font-size: 13px;
  margin: 0;
  color: #FFF;
}

#content {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
#rightBar {
  width:33%;
  float: right;
}
.rightb {
  margin: 10px 0 0 30px;
  width:300px;
}
.rightb_txt {
  margin: 10px 0 0 0;position: relative;
}
h3.title.support {
  position: relative;border-bottom: 1px solid #E5E5E5;padding: 10px 0;color: #757575;font-size: 28px;font-weight: normal;margin: 0 0 16px;
}
.mapdisplay {
  width:235px; padding: 20px 20px 0 20px;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;
}
.projectMap {
  width: 235px;height: 420px;background: url(/assets/alberta.png) no-repeat;position: relative;
}
a.city {
  text-decoration: none;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  display: block;
  width: 24px;
  padding: 5px 0 0;
  height: 33px;
  margin: -32px 0 0 -12px;
  background: url(/assets/ico.png) no-repeat 0 0;
  position: absolute;
  font-size: 11px;
}
a.city span {
  position: absolute;top: 1px;width: 90px;left: 6px;color: #FFF;background: #8e8e31;display: none;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;padding: 3px 0;  
}
#leftBar {
  width: 66%;
}
.strt_t {
  font-size: 28px;  position: relative;  padding-top: 20px; color:#757575;
}
.strt_box {
  background: #f6edf0;border-radius: 8px;  -moz-border-radius: 8px;  -webkit-border-radius: 8px; margin: 20px 0 0 0;
}
.strt_img {
  float: left;  width: 60px;  height: 82px;  margin: 24px 0 0 20px;background:url(/assets/green-house-icon.png);
}
.strt_s {
  line-height: 28px;  margin: 0 20px 0 100px;  position: relative;  padding-top: 20px;
}
.btns_wrap {
  margin: 10px 0 0 0px;  padding-bottom: 20px;
}
label.btn.btn3 {
  cursor: pointer;  display: inline-block;  border-bottom: 4px solid #747227;  background: #8f8e32;  color: #FFF;  border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  vertical-align: middle;  margin: 0 2px;  padding: 0;  position: relative;    background: #c9ce3c;  border-color: #b0b534;
}
input.btn.btn3 {
  cursor: pointer;  background: transparent;  display: inline-block;  font-weight: normal;  padding: 6px 25px;  border: none;  font-size: 14px;  margin: 0; color: #575522;
}
h3.title {
  position: relative;border-bottom: 1px solid #E5E5E5;padding: 10px 0;color: #52BE60;font-size: 23px;font-weight: normal;margin: 21px 0 16px;
}
div.newsletter {
  .btn  {
    vertical-align: top;
  }
  h3{
    border-top: solid 1px #E5E5E5;
    margin-top:10px;
    padding: 5px 0 10px 0;
    color: #757575;
    font-size: 23px;
  }
}
.prjR {
  overflow: hidden;
}
.box.box_project.prj {
  width: 32.5%;float: left;margin: 10px 0 0;max-height: 475px;
}
.bxgw {
  background: #FFF;position: relative;border: 3px solid #eaeaea;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;min-height: 320px;
}
.boxwrp a {
  position: relative;width: 100%;overflow: hidden;display: block;;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;color:$green;text-decoration: none;
}
.boxwrp a img {
  border: none;width: 100%;height: auto !important;padding: 0;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;
}
.boxwrp h4 {
  margin: 0;padding:10px 0 0 10px;font-size: 14px;line-height: 14px; 
}
.boxwrp p {
  font-size: 14px;
}

.company.shrt {
  position: relative;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #848689;border: none;margin: 0;padding: 0px 0px 10px 10px;bottom: 0;left: 0;
}
.company.shrt.f {
  display: inline;
}
.boxwrp p {
  margin: 0;padding: 5px 10px;height: 125px;overflow: hidden;
}

ul#cyclelist {position:relative;overflow:hidden;height:200px}
ul#cyclelist li {position:absolute;width:100%;}

div.callout {
  height: 155px;
  line-height: 155px;
  width: 400px;
  margin-left:auto;margin-right: auto;
  background-color: $blue;
  background-image: -moz-linear-gradient(top, $blue, $blue);
  position: relative;
  color: $light-grey;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0px 0px 20px #999;
  /*margin: 25px;
  min-height: 50px;
  border: 1px solid #333;
  text-shadow: 0 0 1px #000;*/
  text-align: center;
  
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}
.callout span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}
.callout.top-right::before {
  right: 7px;
  bottom: -20px;
  border-top: 10px solid $blue;
}
.markdown ul {
  list-style: disc;
}
span.small {
  font-size: 13px;
  margin-left:20px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}
.alert-alert {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}