/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-star-rating
 *= require calendar/calendar
 *= require calendar/fullcalendar
 *= require calendar/datepicker
 *= require_tree .
*/

/* Configure and import bootstrap */
/* Set the proper asset path for loading icon images. */
$iconSpritePath: asset-url("glyphicons-halflings.png", image) !default;
@import "bootstrap";

.field_with_errors input {
  border: 1px solid #b94a48;
}
.field_with_errors textarea {
  border: 1px solid #b94a48;
}
.field_with_errors {
  display: inline;
}
.field_with_errors label {
  color: red;
}	
.field_with_errors label.message {
  margin-left: 5px;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }


.form-group {
	padding:10px;
	margin: 5px 0;
	background-color: #8AF18A	;
	-moz-border-radius: 15px;
	border-radius: 10px;
}

.flair {
  margin-left: 20px;
}

.center {
  text-align:center;
  margin: 0 auto;
}

h3 small {
  padding-left:10px;
}