/*
 * This is the base CSS of the new beta look.
 *
 * The beta-layout tree gives us all the core css broken out into five files
 * (as per https://smacss.com/book/type-layout):
 *     1.  _base.css.scss    - defaults, including the variables, mixins, and resets from Bootstrap
 *     2.  _layout.css.scss  - dividing the pages into sections, including the grid and scaffolding from Bootstrap
 *     3.  _modules.css.scss - modular / reusable parts of the design
 *     4.  _state.css.scss   - modules in a particular state
 *     5.  _theme.css.scss   - do I need this?
 *
 * The utility classes need to be loaded last, so those are included here.
 *
 *= require jquery-ui/autocomplete
 *= require_self
 *
 */
 @import "bootstrap-sprockets";

 @import "beta-layout/base";
 @import "beta-layout/layout";
 @import "beta-layout/module";
 @import "beta-layout/state";
 @import "beta-layout/theme";

// Bootstrap - Utility classes 
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";


footer {
	position: relative;

}
/*@import "sidebar"*/
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 88px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 15px 0 100px 0;
  	background-color: #F5F5F5;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 40px 40px 80px 40px;
}
/* Sidebar navigation */
#sidebar {
    position: relative;
    /*min-height:100%;*/
    height: calc(100% - 115px -	88px); /*100%;*/
    overflow-y:auto;
    overflow-x:hidden;
}
#sidebar-left {
    height: 100%;
    padding: 0px 0 0px 0;
    position: absolute;
    border-right: 1px solid gray;
}
#sidebar-right {
	padding: 40px;
}
@media screen and (max-width: 650px) {
	#inbox-item {display:none;}
	.header-title {display:none;}
}
.nav-sidebar a{
  color: #6D7275;

}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #EDEFED;
  font-weight: bold;
}
.section-header {
  color: #CACCCD;
  margin: 6.25px 15px;
}
.step-complete {
    margin: 12px 12px 0 0;
    font-weight: 100;
    z-index: 100;
}
.publish-actions-overflow {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}
.publish-actions {
    border-top: 1px solid #E0E0E0;
    background: #FFF;
    padding: 35px 0;
    position: absolute;
	bottom: 89px;
}
.form-group .h6 {
	font-weight: bold;
	color: #82888A;
}
.row .form-group label {
	margin-top: 30px;
}
/*
 * Help panel
 */
.help {
    background-color: #FFF;
    height:100%;
    padding-top:2em;
}
.icon-beach {
color: #FFB400;
font-size: 34px;
padding-bottom: 40px;
}
.icon-light-bulb:before {
content: "\f230";
}
.media:before, .media:after {
content: " ";
display: table;
}
.media-body {
display: table-cell;
width: 999999px;
}
.text-muted {
color: #82888A;
}
.help-tooltip-body {
width: 320px;
padding-left: 7px;
}