.reviews {
  h4 {
    margin-bottom:8px;
  }
  height:auto;
  .review {
    height:auto;
    min-height:36px;
    width: 940px;
    .review_rating {
      width: 940px;
      margin-top:6px;
      .starz {
        width:890px;
        float:left;
        margin-bottom: 10px;
      }
      .title {
        width:50px;
        float:left;
      }
    }
    .review_content {
      width: 940px;
      height:auto;
    }
  }
}

.create_review {
  h4 {
    margin-bottom:6px;
  }
  .title {
    width:50px;
    float:left;
  }
  .starz {
    width:890px;
    float:left;
    margin-bottom: 8px;
  }
  .content {
    width:500px;
    height:200px;
    textarea {
      width: 500px;
    }
  }
}

.white-stripe {
  background-color: #f5f5f5;
}

.grey-stripe {
  background-color: #FFFFFF;
}

.clearer {
  clear: both;
}

#contact-form {
  width:410px;
  height:auto;
  h4 {
    margin-bottom: 10px;
  }
  h5 {
    margin-bottom: 6px;
  }
  textarea {
    width:690px;
    height:250px;
  }
  .submit {
  padding-top: 10px;
  text-align: center;
  }

  .remember{
    label {
      display:inline !important;
    }
  }
  
  .modal { 
    width: 720px !important; 
  }
}
#day_home_contact_subject {
  width: 690px;
}
#contact-form.modal{ 
    width: 800px !important; 
  }

.contact_info {
  display: block;
  width:400px;
}

.featured {
background: #fefcea;
background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%);
background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%);
background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%);
background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );

}
.featured-button {
  display: inline-block;
  width: 217px;
position: relative;
padding: 0;
line-height: normal;
margin-right: .1em;
vertical-align: middle;
text-align: center;
overflow: visible;
font-family: Verdana,Arial,sans-serif;
font-size: 1.1em;
border: 1px solid #d3d3d3;
/*background: #e6e6e6 url(/assets/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;*/
font-weight: normal;
color: #555555;
border-radius: 4px;
}
.featured-button, .featured-button:link, .featured-button:visited, .featured-button:hover, .featured-button:active {
text-decoration: none;
}
.featured-button .ui-button-text {
padding: .4em 1em;
}
.fs_11 {
font-size: 11px;
font-family: Verdana,sans-serif;
line-height: 16px;
}
.featured-button.feature-me {
  cursor: pointer;
  background: #b4e391;
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391));
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%);
background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%);
background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%);
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );

}
.callToActionButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border:1px solid #d83526;
  display:block;
  color:#ffffff;
  font-family:arial;
  font-size:24px;
  font-weight:bold;
  padding:9px 30px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.callToActionButton:hover {
background: #002400; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGRkYjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002400), color-stop(17%,#005700), color-stop(33%,#008a00), color-stop(67%,#52b152), color-stop(83%,#83c783), color-stop(100%,#b4ddb4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* IE10+ */
background: linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-8 */


  color:#ffffff;
  border:1px solid #002400;
  -moz-box-shadow:inset 0px 1px 0px 0px #002400;
  -webkit-box-shadow:inset 0px 1px 0px 0px #002400;
  box-shadow: inset 0px 1px 0px 0px #002400;
  text-shadow: 1px 1px 0px #002400;
  text-decoration:none;
 }
 .callToActionButton:active {
  position:relative;
  top:1px;
}