.reviews {
  h4 {
    margin-bottom:4px;
  }
  height:auto;
  .review {
    height:auto;
    min-height:36px;
    width: 940px;
    .review_rating {
      width: 940px;
      .starz {
        width:890px;
        float:left;
      }
      .title {
        width:50px;
        float:left;
      }
    }

    .review_content {
      width: 940px;

      height:auto;
    }
  }
}

.create_review {

}

.white {
  background-color: #f5f5f5;
}

.grey {
  background-color: #FFFFFF;
}

.clearer {
  clear: both;
}