.map_container {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

.gmaps4rails_map {
  height: 400px;
  width: 100%;
}

.map_container img {
  max-width: none;
}

.dayhome_bubble {
  display:block;
  padding-right:14px;
    .name {
      margin-bottom:10px;
    }
  .bubble_pic {
    float:right;
  }
}

.bubble_without_pic {
  width:200px;
}

.bubble_with_pic {
  width:250px;
}

.availability{
  margin-bottom: 5px;

}
