// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
body { padding: 50px 0 0 0; }

// bootstrap placeholder
:-moz-placeholder {
  color: #eeeeee;
}
::-webkit-input-placeholder {
  color: #eeeeee;
}
.navbar-search .search-query
{
  margin-bottom: 6px;
}