html, body{
	font-family: Helvetica,Arial,sans-serif;
	color:#414040;
	background:#52be60 ;
}
p, li{
	font-size:16px !important;
	line-height:22px !important;
}
h2{
	font-size:24px !important;
	font-weight:bold !important;
	margin-bottom:9px !important;
}
h3{
	font-size:20px !important;
	line-height:22px;
	font-weight:bold;
}
h4{
	font-size:17px;
	margin-top:12px;
}

.wrapper{
	width:960px;
	margin:0 auto;
}
header{
	width:100%;
	height:195px;
	background:#fdfdf9;
}
.findDayhome{
	background:url('findDayhome.png') right bottom no-repeat;
	height:195px;
}
#searchBox{
	width:324px;
	height:93px;
	background:url('searchBox.png') no-repeat;
	margin-top:81px;
}
#searchBox a{
		margin-left:18px;
}
#searchBox a, footer a{
	text-decoration:underline;
	font-size:14px;
	color:#c94248;
}
#searchBox a:hover, footer a:hover{
	color:#79489f;
}

#searchBox ::-webkit-input-placeholder  { color:#828282; }
#searchBox input:-moz-placeholder { color:#828282; }


#submit{
	height:45px;
	width:102px;
	background: url('sprites.png') top left;
	border:none;
	margin:16px 0 -24px 0px;
}
#submit:hover{
	background-position:left -49px;
}
#searchQuery{
	height:30px;
	width:177px;
	margin:27px 0px -17px 18px;

}
nav{
	width:100%;
	height:59px;
	background:#fdfdf9 	url('navShadow.png') left top repeat-x;
	margin-top:-4px;
	font-weight:bold;
	position:relative;
	z-index:1;
}
nav a{
	color:#9f9f9f;
	text-decoration:none;
	
}
nav a:hover{
	color:#c94248;
	text-decoration:none;
}
nav a#active{
	color:#79489f;
}
nav ul{
	list-style:none;
	float:left;
	margin-top:21px;
	margin-left: 0;
}
nav ul.pull-right{
	float:right;
}
nav li{
	float:left;
	margin-right:20px;
	font-size:18px;
}
ul.pull-right li {
	margin-right: 0;
	margin-left: 20px;
}
#mainBG{
	width:100%;
	background:#52be60 url('bgGrad.png') center top repeat-x;
	margin-top:-3px;
	padding-bottom:12px;
	overflow:hidden;
}

.content{
	background:url('contentPattern.png') left top repeat;
  	min-height: 400px;
  	width: 960px;
  	margin-left: auto;
  	margin-right: auto;
  	padding-top: 20px;
  	padding-bottom: 20px;
}
#contentShadow{
	width:960px;
	height:17px;
	background:url('contentShadow.png') bottom left repeat-x;
	margin-left: auto;
	margin-right: auto;
}

#signUp{
	height:54px;
	width:124px;
	margin-top:-16px;
	margin-bottom:14px;
	text-indent:-9999px;
	background:url('sprites.png') -107px top no-repeat;
}
#signUp:hover{
	background-position: -107px -56px;
}
.footer{
	background:#fdfdf9;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
  	padding-top: 20px;
  	padding-bottom: 20px;
}
#footerShadow{
	width:960px;
	height:17px;
	background:url('fatFooterShadow.png') top left no-repeat;
	margin-left: auto;
	margin-right: auto;
}
footer{
	height:60px;
	width:100%;
	background:url('footerShadow.png') left bottom repeat-x;
	margin-top:-25px;
	float:left;
	clear:both;
	overflow:hidden;
}
footer p{
	margin-top:24px;
	line-height:60px;
	text-align:center;
}
#footerInfo a:hover, span:hover, .featured a:hover, .right a:hover, .contact a:hover, .about a:hover{
	color:#79489f;
	text-decoration:underline;
}
.social a{
	text-decoration:none;
}
.social p{
	line-height:24px !important;
}
.social img{
	margin-right:18px;
}
.social a img{
	text-decoration:none;
}
.aboutPhoto{
	float:right;
	margin:0 0 14px 16px;
}

/*Single Dayhome Page */
.singleViewH3{
	margin-bottom:4px;
	margin-top:14px;
}
.contact_info a, .create_review a, .calendar a{
	font-size:14px;
}
.availability{
	margin:0 0 14px 0 !important;
	font-size:16px;
}

.pagination{
	background:none !important;
}
.pagination ul{
	margin-top:0 !important;
}
.list_reviews{
	margin-bottom:14px;
	margin-top:24px;
	padding-top:14px;
	display:block;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.create_review{
	display:block;
	clear:left;
}
.mediaAlign .gmaps4rails_map{
	width:100% !important;
	height:300px !important;
}
.mediaAlign .map_container{
	width:98% !important;
	margin-bottom:14px;
}
#contactFormButton{
	width:124px;
	height:50px;
	display:block;
	background:url('sprites.png') -234px top no-repeat;
	text-indent:-9999px;
}
#contactFormButton:hover{
	background:url('sprites.png') -234px -51px no-repeat;
}

/* Admin Section*/
.logstyle{
    margin-right:8px;
    font-weight:bold;
    font-size:14px;
    margin-bottom:10px;
}

/* About Page */
.aboutPage{
	padding-right:24px;

}

/* Homepage Styles */
.featured {
	background:url('featureBG.png') repeat-y;
	position: relative;
	margin-top: 8px;
	margin-bottom: 28px;
}
.featured #coin-container {
	height: auto;
}
.featured h2 {
	margin-left: 20px;
}
.featured .cs-buttons {
	display: none;
}
.featured .top {
	position: relative;
	top: -8px;
	height: 8px;
	width: 540px;
	background:url('featureTop.png') no-repeat;
}
.featured .bottom {
	position: relative;
	bottom: -8px;
	height: 8px;
	width: 540px;
	background:url('featureBottom.png') no-repeat;
}

/* placeholder darkness */
:-moz-placeholder{color:#333333;}
::-webkit-input-placeholder{color:#333333;}