html, body{
	font-family: Helvetica,Arial,sans-serif;
	color:#414040;
	background:#52be60 ;
}
p{
	font-size:16px !important;
	line-height:22px !important;
}
h2{
	font-size:24px !important;
	font-weight:bold !important;
	margin-bottom:9px !important;
}
h3{
	font-size:20px !important;
	line-height:22px;
	font-weight:bold;
}

.wrapper{
	width:940px;
	margin:0 auto;
}
header{
	width:100%;
	height:195px;
	background:#fdfdf9;
}
header .span4{
	background:url('logo.png') left bottom no-repeat;
	height:195px;
}
header .span8{
	background:url('findDayhome.png') right bottom no-repeat;
	height:195px;
}
#searchBox{
	width:324px;
	height:93px;
	background:url('searchBox.png') no-repeat;
	margin-top:81px;
}
#searchBox a{
		margin-left:18px;
}
#searchBox a, footer a{
	text-decoration:underline;
	font-size:14px;
	color:#c94248;
}
#searchBox a:hover, footer a:hover{
	color:#79489f;
}
#submit{
	height:45px;
	width:102px;
	background: url('sprites.png') top left;
	border:none;
	margin:16px 0 -24px 0px;
}
#submit:hover{
	background-position:left -49px;
}
#searchQuery{
	height:30px;
	width:177px;
	margin:27px 0px -17px 18px;
}
nav{
	width:100%;
	height:59px;
	background:#fdfdf9 	url('navShadow.png') left top repeat-x;
	margin-top:-4px;
	font-size:24px;
	font-weight:bold;
	position:relative;
	z-index:1;
}
nav a{
	color:#9f9f9f;
	text-decoration:none;
	
}
nav a:hover{
	color:#c94248;
	text-decoration:none;
}
nav a#active{
	color:#79489f;
}
nav ul{
	list-style:none;
	float:left;
	margin-top:21px;
	margin-left:18px;
}
nav li{
	float:left;
	margin-right:30px;
}
#mainContent{
	width:100%;
	background:#52be60 url('bgGrad.png') center top repeat-x;
	margin-top:-3px;
	padding-bottom:12px;
	clear:both;
	float:left;
	overflow:hidden;
}

.content{
	background:url('contentPattern.png') left top repeat;
	border:1px solid #e6e6e3;
	border-top:none;
	margin-bottom:30px;
	clear:both;
	float:left;
	width: 940px;
  padding: 24px;
  width: 892px;
  min-height: 400px;
}
#contentShadow{
	width:941px;
	height:17px;
	background:url('contentShadow.png') bottom left no-repeat;
	position:relative;
	float:left;
	margin:-33px 0 0 21.5px;
}
#featureTop{
	height:8px;
	margin-top:-8px;
	background:url('featureTop.png') top left no-repeat;
}
#featureBtm{
	height:8px;
	margin-top:112px;
	margin-bottom:-20px;
	background:url('featureBottom.png') top left no-repeat;
}
.featured{
	margin: 0;
	padding-bottom:12px;
	background:url('featureBG.png') top left repeat-y;
}
.featured h2, .featured p{
	margin:12px 21px 0px 21px;
}
 .featured h3{
 	margin:8px 21px 0px 21px;
 	font-weight:normal;
 }
.callToAction{
	height:400px;
	margin:160px 18px 0 0;
	background:url('dayhomeOwner.png') top left no-repeat;
	float:right;
}
.callToAction h3{
	padding:18px 24px 9px 24px;
}
.callToAction p{
	margin:0 36px 14px 24px;
}
#signUp{
	height:54px;
	width:124px;
	float:right;
	margin:-16px 36px 18px 0;
	text-indent:-9999px;
	background:url('sprites.png') -107px top no-repeat;
}
#signUp:hover{
	background-position: -107px -56px;
}
#footerInfo{
	background:#fdfdf9;
	clear:both;
	float:left;
	overflow:visible;
	padding-top:16px;
	padding-bottom:16px;
}
#footerInfo .span3{
	margin-left:60px;
}
.footerShadow{
	width:941px;
	height:17px;
	background:url('fatFooterShadow.png') top left no-repeat;
	position:relative;
	float:left;
}
footer{
	height:60px;
	width:100%;
	background:url('footerShadow.png') left bottom repeat-x;
	margin-top:-13px;
	float:left;
	clear:both;
	overflow:hidden;
}
footer p{
	margin-top:24px;
	line-height:60px;
	text-align:center;
}
#footerInfo a, .featured a, .right a{
	color:#c94248;
	text-decoration:underline;
}
#footerInfo a:hover, .featured a:hover, .right a:hover{
	color:#79489f;
}
.social p{
	line-height:28px !important;
}
.social img{
	margin-right:18px;
}
.aboutPhoto{
	float:right;
	margin:0 0 14px 16px;
}
/* Form styles */
::-webkit-input-placeholder, :-moz-placeholder {
	font-style:italic;
	opacity:.6;
}
