html, body{
  font-family: Helvetica,Arial,sans-serif;
  color:#414040;
  background:#52be60 ;
}
p, li{
  font-size:16px !important;
  line-height:22px !important;
}
h2{
  font-size:24px !important;
  font-weight:bold !important;
  margin-bottom:9px !important;
}
h3{
  font-size:20px !important;
  line-height:22px;
  font-weight:bold;
}
h4{
  font-size:17px;
  margin-top:12px;
}

.wrapper{
  width:960px;
  margin:0 auto;
}
header{
  width:100%;
  height:195px;
  background:#fdfdf9;
}
.findDayhome{
  background:url('findDayhome.png') right bottom no-repeat;
  height:195px;
}
#searchBox{
  width:324px;
  height:93px;
  background:url('searchBox.png') no-repeat;
  margin-top:81px;
  display: inline-block;
}
#searchBox a{
  margin-left:18px;
}
#searchBox a, footer a{
  text-decoration:underline;
  font-size:14px;
  color:#c94248;
}
#searchBox a:hover, footer a:hover{
  color:#79489f;
}
#searchBox ::-webkit-input-placeholder  { color:#828282; }
#searchBox input:-moz-placeholder { color:#828282; }
#submit{
  height:40px;
  width:102px;
  margin:18px 0 -24px 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 9px 0;
  font-size: 16px;
}
#searchQuery{
  height:30px;
  width:177px;
  margin:27px 0px -17px 18px;

}
nav{
  width:100%;
  height:59px;
  background:#fdfdf9 	url('navShadow.png') left top repeat-x;
  margin-top:-4px;
  font-weight:bold;
  position:relative;
  z-index:1;
}
nav a{
  color:#9f9f9f;
  text-decoration:none;

}
nav a:hover{
  color:#c94248;
  text-decoration:none;
}
nav a#active{
  color:#79489f;
}
nav ul{
  list-style:none;
  float:left;
  margin-top:21px;
  margin-left: 0;
}
nav ul.pull-right{
  float:right;
}
nav li{
  float:left;
  margin-right:20px;
  font-size:18px;
}
ul.pull-right li {
  margin-right: 0;
  margin-left: 20px;
}
#mainBG{
  width:100%;
  background:#52be60 url('bgGrad.png') center top repeat-x;
  margin-top:-3px;
  padding-bottom:12px;
  overflow:hidden;
}

.content{
  background:url('contentPattern.png') left top repeat;
  min-height: 400px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#contentShadow{
  width:960px;
  height:17px;
  background:url('contentShadow.png') bottom left repeat-x;
  margin-left: auto;
  margin-right: auto;
}
.fatbar{
  background:#fdfdf9;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#footerShadow{
  width:960px;
  height:17px;
  background:url('fatFooterShadow.png') top left no-repeat;
  margin-left: auto;
  margin-right: auto;
}
footer{
  height:60px;
  width:100%;
  background:url('footerShadow.png') left bottom repeat-x;
  margin-top:-25px;
  float:left;
  clear:both;
  overflow:hidden;
}
footer p{
  margin-top:24px;
  line-height:60px;
  text-align:center;
}
#footerInfo a:hover, span:hover, .featured a:hover, .right a:hover, .contact a:hover, .about a:hover{
  color:#79489f;
  text-decoration:underline;
}
.social a{
  text-decoration:none;
}
.social p{
  line-height:24px !important;
}
.social img{
  margin-right:18px;
}
.social a img{
  text-decoration:none;
}
.aboutPhoto{
  float:right;
  margin:0 0 14px 16px;
}

/*Single Dayhome Page */
.singleViewH3{
  margin-bottom:4px;
  margin-top:14px;
}
.contact_info a, .create_review a, .calendar a{
  font-size:14px;
}
.availability{
  margin:0 0 14px 0 !important;
  font-size:16px;
}

.pagination{
  background:none !important;
}
.pagination ul{
  margin-top:0 !important;
}
.list_reviews{
  margin-bottom:14px;
  margin-top:24px;
  padding-top:14px;
  display:block;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.create_review{
  display:block;
  clear:left;
}
.mediaAlign .gmaps4rails_map{
  width:100% !important;
  height:300px !important;
}
.mediaAlign .map_container{
  width:98% !important;
  margin-bottom:14px;
}
#contactFormButton{
  width:124px;
  height:50px;
  display:block;
  background:url('sprites.png') -234px top no-repeat;
  text-indent:-9999px;
}
#contactFormButton:hover{
  background:url('sprites.png') -234px -51px no-repeat;
}

/* Admin Section*/
.logstyle{
  margin-right:8px;
  font-weight:bold;
  font-size:14px;
  margin-bottom:10px;
}

/* About Page */
.aboutPage{
  padding-right:24px;

}

/* Homepage Styles */
.featured {
  background:url('featureBG.png') repeat-y;
  position: relative;
  margin-top: 8px;
  margin-bottom: 28px;
}
.featured .top {
  position: relative;
  top: -8px;
  height: 8px;
  width: 540px;
  background:url('featureTop.png') no-repeat;
}
.featured .bottom {
  position: relative;
  bottom: -8px;
  height: 8px;
  width: 540px;
  background:url('featureBottom.png') no-repeat;
}
.featureDetails {
  margin: 0 0 0 20px;
}
.twitterWidget {
  position: relative;
  margin-top: 8px;
  margin-bottom: 28px;
  width: 287px;
  margin-left: auto;
  margin-right: auto;
}
.twtr-widget {  
  width: 287px;
}
.callToAction {
  background:url('callToAction.png') repeat-y;
  position: relative;
  margin-top: 8px;
  margin-bottom: 28px;
  width: 247px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.callToAction .top {
  position: relative;
  left: -20px;
  top: -6px;
  height: 6px;
  width: 287px;
  background:url('callToActionTop.png') no-repeat;
}
.callToAction .bottom {
  position: relative;
  left: -20px;
  bottom: -6px;
  height: 6px;
  width: 287px;
  background:url('callToActionBottom.png') no-repeat;
}

.callToAction .point {
  text-align: center !important;
}
.callToAction h3 {
  margin-bottom: 10px;
}
.callToAction .point {
  text-align: left;
}
.callToActionButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border:1px solid #d83526;
  display:block;
  color:#ffffff;
  font-family:arial;
  font-size:24px;
  font-weight:bold;
  padding:9px 30px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.callToActionButton:hover {
background: #002400; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGRkYjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002400), color-stop(17%,#005700), color-stop(33%,#008a00), color-stop(67%,#52b152), color-stop(83%,#83c783), color-stop(100%,#b4ddb4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* IE10+ */
background: linear-gradient(top,  #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-8 */


  color:#ffffff;
  border:1px solid #002400;
  -moz-box-shadow:inset 0px 1px 0px 0px #002400;
  -webkit-box-shadow:inset 0px 1px 0px 0px #002400;
  box-shadow: inset 0px 1px 0px 0px #002400;
  text-shadow: 1px 1px 0px #002400;
  text-decoration:none;
 }
 .callToActionButton:active {
  position:relative;
  top:1px;
}

#signUp{
  width:100px;
}

/* placeholder darkness */
:-moz-placeholder{color:#828282;}
::-webkit-input-placeholder{color:#828282;}

// first horitzontal chunk
.pricingHeader {
  border-bottom:1px solid #EEEEEE;
  background: #FFFDE8;
  font-family: Helvetica,Arial,sans-serif;
  color: black;
  width:100%;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  padding-top: 16px;
}

.pricingBlurb {
  background: #FDFDF9;
  font-family: Helvetica,Arial,sans-serif;
  color: black;
  height:100px;
  font-size: 16px;
  margin-bottom:20px;
  line-height: 30px;
  padding: 20px 20px 20px 20px;
}

//pricing columns
.colHeader {
  background-color: #2B2B2B;
  font-family: Helvetica,Arial,sans-serif;
  color: black;
  width:100%;
  height: 80px;
  text-align: center;
  font-size: 28px;
  padding-top: 20px;
  .coming {
    margin-top:4px;
    font-size: 12px;
  }
}

.baby {
  background-color: #DCDFFA;
  margin-bottom: -1px;
}

.mama {
  background-color: #CCEFFF;
  margin-bottom: -1px;
}

.papa {
  background-color: #E6F2CC;
  margin-bottom: -1px;
}



.colContent {
  font-family: Helvetica,Arial,sans-serif;
  color: black;
  height:250px;
  ul {
    text-align: center;
    list-style-type: none;
    padding:0;
    margin:0;
    li {
      padding-top:8px;
    }
  }
  margin-bottom: 20px;
}

// columns below the pricing columns (horizontal chunks)
.contentHeader {
  border-bottom:1px solid #EEEEEE;
  background: #FFFDE8;
  font-family: Helvetica,Arial,sans-serif;
  color: black;
  width:100%;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  padding-top: 16px;
  margin-top: 20px
}

.contentBlurb {
  background: #FDFDF9;
  font-family: Helvetica,Arial,sans-serif;
  color: black;
  font-size: 16px;
  margin-bottom:20px;
  line-height: 30px;
  padding: 20px 20px 20px 20px;
  .reg {
    height:120px;
  }
  .cal {
    height:150px;
  }
}

.pricingRegister {
  width: 450px;
}

.input-prepend {
  input {
    margin-left:-4px;
  }
}

.registrationStyle {
  h3 {
    margin-bottom: 10px;
  }

  label {
    margin-top:10px;
  }

  textarea {
    width:300px;
  }
}

.textSize20 {
  font-size: 14px;
}

.dh-inline-block { display: inline-block; }
.lt-ie8 .dh-inline-block { display: inline; zoom: 1; }
