// Place all the styles related to the Organization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-header {
	border-bottom: 4px solid #e5e5e5;
	padding-bottom: 18px;
	margin-bottom: 18px;
}
.form-horizontal .fs_22 {
  line-height: 25px;
}
.fs_22 {
  font-size: 22px;
  line-height: 25px;
}
.prepend-1 {
  padding-left: 20px;
}
.form-horizontal .control-label {
	padding-top:0;
}
.progress-bar {
	background: asset-url("sprites2.png", image) left -175px repeat-x;
	width: 210px;
	height: 18px;
	float: left;
	margin-right: 10px;
	border: 1px solid #abadb3;
	margin-top:7px;
	text-align: left;
}
.progress-bar.pg-neutral .fill {
	background: asset-url("sprites2.png", image) left -195px repeat-x;
	display: inline-block;
	height: 16px;
	border-top: solid 1px #cefa9a;
	border-right: solid 1px #77c51a;
	border-bottom: solid 1px #61af05;
	border-left: solid 1px #a3e456;
}
.progress-bar-add-on {
	padding-top:7px;
}
.span-11 {
	width: 220px;
	margin-left:0;
}
.span-14 {
	width: 280px;
	margin-left:0;
}
.form-horizontal .section-start {
	border-top: solid 4px #e5e5e5;
	padding-top: 36px;
}
.parenthesis {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 5em;
	font-size: smaller;
}
