/*
 * This is a manifest file that'll be compiled into pages.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require slides
 *= require_self
 
*/

$green: #52BE60;
$yellow: #f0df73;
$red: #FE1A00;
$blue: #23affa;
$light-grey: #e3e3e3;
$dark-grey: #798e94;

.red {
  color: $red;
}
.yellow {
  color: $yellow;
}
.clear {
  clear: both;
}

body,
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

body {  
  width: 100%;
  border: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: $green;
  text-decoration: none;
}
h1 {
  font-size: 25.888px;
}
header {
  background: #ffffff  image-url("banner-sm.png") no-repeat right top;
  
  width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 1em;    
}


#logo {
  height: 146px;  
  
  clear:both;
  width: 487px;
}
#nav {
  width: 100%;
  margin: 0 0 0 0;
  font-size: 18px;
  
  
  
  ul.right {
    float: right;
    
    li {
      float: left;
      margin: 0 1em 0 1em;
    }
    li:last-child {
      margin: 0 0 0 1em;
    }
  }
  ul.left{
    float: left;
    li {
      float: left;
      margin: 0 1em 0 1em;
    }
    li:last-child {
      margin: 0 0 0 1em;
    }
  }
  a {
    color: $dark-grey;
  }
  a.red {
    color: $red;
  }
  a.yellow {
    color: $yellow;
  }
  a:hover {
    border-top: 2px solid $dark-grey;
  }
}
#searchQuery {
  width:175px;
  margin-right:4px;
  font-size: 14px;
}
#charm2 {
  background-color: $light-grey;
  color: $dark-grey;
  width:200px;
  height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 .5em;
  
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;  

  > div {
    
    margin: 4px auto 4px auto; 
    text-align: center;
    
    
    a {
      color: $dark-grey !important;
      padding-left: 4px;
      padding-right: 4px;
    }
    a:hover {
      border-top: 2px solid $dark-grey;
    }
  }
}



.social-home {
  color: #999;
  font-size: 15px;
}
.social-home-twitter {
  width: 20%;
  float: left;
  margin: 15px 15px 0 0;
}
.social-home-facebook {
  width: 20%;
  float: left;
  margin: 15px 15px 0 0;
}
.social-home-pinterest {
  width: 20%;
  float: left;
  margin: 15px 15px 0 0;
}
footer {
  clear: both;
  border-top: 1px solid $dark-grey;
  width: 80%;
  margin: 2.68em auto;
}
footer > div {
  width: 28%;
  float: left;
  padding: 1em;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* New page layout */

#featureReel > div {
  width: 711px; 
  margin-left: auto;  
  margin-right: auto;
  min-height: 185px;
  background: #76753f;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(120, 119, 65,0.8)), to(rgba(118, 117, 63,0.2)));
  background: -moz-linear-gradient(left, rgba(120, 119, 65,0.8), rgba(118, 117, 63,0.2));
  border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#featureReel > div > h1 {
  color: #fff;
  font-size: 28px;
  margin: 0 0 0 20px;
  position: relative;
  padding-top: 20px;
}

#featureReel > div > div {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  margin: 20px 20px 0 20px;
  position: relative;
}

label.btn.btn2 {
  margin: 20px 0 0 20px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 4px solid #747227;
  color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align: middle;
  padding: 0;
  position: relative;
  background: #c9ce3c;
  border-color: #b0b534;
}
input.btn.btn2 {
  cursor: pointer;
  background: transparent;
  display: inline-block;
  font-weight: normal;
  padding: 6px 25px;
  border: none;
  font-size: 13px;
  margin: 0;
  color: #FFF;
}

#content {
  width:940px;
  margin-left:auto;
  margin-right:auto;
}
#rightBar {
  width:33%;
  float: right;
}
.rightb {
  margin: 20px 0 0 30px;
}
.rightb_txt {
  margin: 10px 0 0 0;position: relative;
}
h3.title.support {
  position: relative;border-bottom: 1px solid #E5E5E5;padding: 10px 0;color: #757575;font-size: 28px;font-weight: normal;margin: 0 0 16px;
}
.mapdisplay {
  width:235px; padding: 20px;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;
}
.projectMap {
  width: 235px;height: 420px;background: url(/assets/alberta.png) no-repeat;position: relative;
}
a.city {
  text-decoration: none;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  display: block;
  width: 24px;
  padding: 5px 0 0;
  height: 33px;
  margin: -32px 0 0 -12px;
  background: url(/assets/ico.png) no-repeat 0 0;
  position: absolute;
  font-size: 11px;
}
a.city span {
  position: absolute;top: 1px;width: 90px;left: 6px;color: #FFF;background: #8e8e31;display: none;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;padding: 3px 0;  
}
#leftBar {
  width: 66%;
}
.strt_t {
  font-size: 28px;  position: relative;  padding-top: 20px;
}
.strt_box {
  background: #f6edf0;border-radius: 8px;  -moz-border-radius: 8px;  -webkit-border-radius: 8px; margin: 20px 0 0 0;
}
.strt_img {
  float: left;  width: 60px;  height: 82px;  margin: 24px 0 0 20px;background:url(/assets/green-house-icon.png);
}
.strt_s {
  line-height: 28px;  margin: 0 20px 0 100px;  position: relative;  padding-top: 20px;
}
.btns_wrap {
  margin: 10px 0 0 100px;  padding-bottom: 20px;
}
label.btn.btn3 {
  cursor: pointer;  display: inline-block;  border-bottom: 4px solid #747227;  background: #8f8e32;  color: #FFF;  border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  vertical-align: middle;  margin: 0 2px;  padding: 0;  position: relative;    background: #c9ce3c;  border-color: #b0b534;
}
input.btn.btn3 {
  cursor: pointer;  background: transparent;  display: inline-block;  font-weight: normal;  padding: 6px 25px;  border: none;  font-size: 14px;  margin: 0; color: #575522;
}
h3.title {
  position: relative;border-bottom: 1px solid #E5E5E5;padding: 10px 0;color: #757575;font-size: 18px;font-weight: normal;margin: 0 0 16px;
}
.prjR {
  overflow: hidden;
}
.box.box_project.prj {
  width: 32.5%;float: left;margin: 10px 0 0;max-height: 475px;
}
.bxgw {
  background: #FFF;position: relative;border: 3px solid #eaeaea;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;
}
.boxwrp a {
  position: relative;width: 100%;overflow: hidden;display: block;padding: 0 0 10px 0;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;
}
.boxwrp a img {
  border: none;width: 100%;height: auto !important;padding: 0;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;
}
.boxwrp h4 {
  margin: 0;padding: 0 10px 4px;font-size: 14px;
}
.boxwrp h4 a {
  color: #8e8e31;text-decoration: none;
}
.company.shrt {
  position: relative;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #848689;border: none;margin: 0;padding: 3px 5px 3px 32px;bottom: 0;left: 0;
}
.company.shrt.f {
  display: inline;
}
.boxwrp p {
  margin: 0;padding: 5px 10px;height: 125px;overflow: hidden;
}