/*
 * This is a manifest file that'll be compiled into pages.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 
*/

$green: #52BE60;
$yellow: #f0df73;
$red: #FE1A00;
$blue: #23affa;
$light-grey: #e3e3e3;
$dark-grey: #798e94;

.red {
  color: $red;
}
.yellow {
  color: $yellow;
}
.clear {
  clear: both;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  width: 100%;
  border: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: $green;
  text-decoration: none;
}
h1 {
  font-size: 25.888px;
}
header {
  width: 70%;
  margin: auto;
  position: relative;
  padding-bottom: 1em;
}

header > div {
}

#logo {
  height: 175px;  
  float: left;
  background: #ffffff  url('http://staging.dayhomeregistry.com/assets/logo-17985638cc586b2f803a229715586919.png') no-repeat;
  
  width: 205px;
  margin-top: 4em;
}
#nav {
  font-size: 18px;
  background: #fff url('http://dl.dropbox.com/u/76665191/arrow.png') no-repeat bottom right;
  height: 175px;  
  margin-left: 205px;
  
  ul {
    float: right;
    margin-top: 4em;
    padding-top: 139px;
    
    li {
      float: left;
      margin: 0 1em 0 1em;
    }
  }
  a {
    color: $dark-grey;
  }
  a.red {
    color: $red;
  }
  a.yellow {
    color: $yellow;
  }
  a:hover {
    border-top: 2px solid $dark-grey;
  }
}
#searchQuery {
  width:200px;
  margin-right:4px;
}
#charm {
  background-color: $light-grey;
  color: $dark-grey;
  width:200px;
  height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 .5em;
  
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;  

  > div {
    
    margin-top: 4px;
    float: left;
    width: 50%; 
    text-align: center;
    
    a {
      color: $dark-grey !important;
    }
    a:hover {
      border-top: 2px solid $dark-grey;
    }
  }
}


#featureReel {
  background: #fff url('http://dl.dropbox.com/u/76665191/banner.png') no-repeat right top;
  padding-top: 32px;

}
#feature {
  height: 400px;
  width: 711px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

.drop-shadow {
  padding: 1em;
  margin: 2em 10px 4em;
  background: #fff;
  -webkit-box-shadow: 
      0 15px 10px -10px rgba(0, 0, 0, 0.5), 
      0 1px 4px rgba(0, 0, 0, 0.3), 
      0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 
      0 15px 10px -10px rgba(0, 0, 0, 0.5), 
      0 1px 4px rgba(0, 0, 0, 0.3), 
      0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 
      0 15px 10px -10px rgba(0, 0, 0, 0.5), 
      0 1px 4px rgba(0, 0, 0, 0.3), 
      0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#chooseYourAdventure {
  width: 70%;
  margin: auto;
  position: relative;
}
#chooseYourAdventure > div {
  border-top: 4px $blue solid;
  margin: 1em;
  width: 45%;
  float: left;
  text-align: center;
}
#chooseYourAdventure h1 {
  color: $blue;
  text-shadow: 0.1em 0.1em 0.2em #222222;
}
.facebook {
  height: 1.3em;
  background-image: url('http://staging.dayhomeregistry.com/assets/icons/facebook-3374b03f1508e69a310eb6a8e76eeb98.png');
  background-repeat:no-repeat;
  background-position: 0 50%;
}