// position checkboxes
.bump_left {
  padding-left:8px;
}

.search_title {
  margin-bottom:14px;
  text-align:center;
}

.search_section {
  margin-top:8px;
  margin-bottom:8px;
  h5 {
    margin-top:4px;
    margin-bottom:2px;
  }
  &:last-child {
    margin-top:20px;
    margin-bottom:0px;
    text-align:center;
  }
}
