.slides {
	width: 710px;
	height: 400px;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}
.slides-sm {
	width: 500px;
	height: 315px;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}

.slide {
	width: 710px;
	height: 400px;
	position: relative;
	cursor: pointer;
	zoom: 1;
}
.slide-sm {
	width: 500px;
	height: 315px;
	position: relative;
	cursor: pointer;
	zoom: 1;
}

.slide img {
	padding: 0;

	margin: auto;
}

.slide a {
	color: #f0f0f0;
	text-decoration: none;
	cursor: pointer;
	width:100%;
}
.slide a:hover {
	color: #f0f0f0;
	text-decoration: none;
};

.slide-desc {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #111111;
	opacity: 0.6;
	zoom: 1;
	color: #f0f0f0;
}

.slide-desc-inset {
	display: block;
	padding: 5px 10px;
}