.wrapper
  .footerShadow
  #footerInfo
    .row
      .span12
        .about.span3
          %h2 About Us
          %p Dayhome Registry is your answer for all of your dayhome searching needs!
          %p Being a parent is busy enough. The mission of Dayhome Registry is to make being a parent a little easier.
        / about
        .contact.span3
          %h2 Contact Us
          %p Have any questions or concerns about Dayhome Registry? We'd love to hear from you.
          %p
            Email us at
            %a{:href => "#"} contact@dayhomeregistry.com
        / contact
        .social.span3
          %h2 We're Social
          %p
          image_tag("icons/facebook.png")
            # => <img alt="Facebook" src="assets/images/icons/facebook.png" />
              %a{:href => "#"} Friend Us
              on Facebook
          %p
            %img{:src => "images/icons/twitter-2.png"}
              %a{:href => "#"} Follow Us
              on Twitter
          %p
            %img{:src => "images/icons/google-plus.png"}
              %a{:href => "#"} Plus Us
              on Google+
          %p
            %img{:src => "images/icons/pinterest.png"}
              %a{:href => "#"} Pin Us
              on Pinterest
        / social
      / footerInfo
    / span12
  / row
/ wrapper
%footer
  %p
    \©
    %a{:href => "#"} Dayhome Registry 2012
    | Read our
    %a{:href => "#"} Privacy Policy
= yield :scripts