<!DOCTYPE html>
<head>
	<title>Dayhome Registry</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css" />
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="styles/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="styles/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="styles/slider.css" />
	<script type="text/javascript" src="js/compressed.js"></script>
	<script type="text/javascript" src="js/slider.js"></script>

</head>
<body>
<header>
	<div class="wrapper">
		<div class="row">
			<div class="span4">
				
			</div><!--span4-->
			<div class="span8">
				<div id="searchBox">
					<form id="search" name="search">
						<input type="text" id="searchQuery">
						<input type="submit" id="submit" value="" border="0">
					</form>
					<a href="#">Advanced Search</a>
				</div>
			</div><!--/span8-->
		</div><!--row-->
	</div><!--wrapper-->
</header>
<nav>
	<div class="wrapper">
		<ul>
			<li><a href="#" id="active">home</a></li>
			<li><a href="#">about</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</div><!--wrapper-->
</nav>