.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Dayhomes', root_path, :class => :brand
      .nav-collapse
        %ul.nav
          %li.active
            = link_to 'Home', root_path
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#contact"} Contact
      =form_for @search, :url => searches_path, :method => 'get', :html => {:class => 'navbar-search pull-right', :id => 'simple-search'} do |f|
        =f.text_field :address, :class => "search-query", :placeholder => 'Search near...', :id => 'test'
        =f.submit "Search"