        !!!
%head
  %title Dayhome Registry
  %link{:href => "styles/main.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "styles/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "styles/bootstrap-responsive.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "styles/bootstrap-responsive.min.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "styles/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "styles/slider.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "js/compressed.js", :type => "text/javascript"}
  %script{:src => "js/slider.js", :type => "text/javascript"}
%body
  %header
    .wrapper
      .row
        .span4
        / span4
        .span8
          #searchBox
            %form#search{:name => "search"}
              %input#searchQuery{:type => "text"}
                %input#submit{:border => "0", :type => "submit", :value => ""}
            %a{:href => "#"} Advanced Search
        / /span8
      / row
    / wrapper
  %nav
    .wrapper
      %ul
        %li
          %a#active{:href => "#"} home
        %li
          %a{:href => "#"} about
        %li
          %a{:href => "#"} contact
    / wrapper