%html
  %head
    = stylesheet_link_tag "mailer"
  %body
    .container{:style=>"width:600px;margin-right:auto;margin-left:auto;"}
      .row
        .span4.col-lg-4.col-md-4.col-sm-4
          =link_to root_url do
            =image_tag 'https://40325dfc7925a07385f6-11e3d3d0a1159f06aff28541e9c4b079.ssl.cf1.rackcdn.com/logo.png'