= render 'layouts/mailheader'
#mainBG{:style="width: 100%;background: #52BE60 center top repeat-x;margin-top: -3px;padding-bottom: 12px;overflow: hidden;"}
  .content{:style="background: white left top repeat;min-height: 400px;width: 960px;margin-left: auto;margin-right: auto;padding-top: 20px;padding-bottom: 20px;"}
    .container{:style="margin-right: auto;margin-left: auto;"}
      .row
        .span12          
          = yield
= render 'layouts/mailfooter'
