<!DOCTYPE html>
<html>
<head>
  <title>Coming Soon!</title>
  <style type="text/css">
    body { background: #98D072; color: #333; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 750px;
      padding: 40px;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      background: #FDFDF9;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    h1 { font-size: 100%; color: #333; font-size: 24px; line-height: 1.5em; }
    a { color: #333; }
    
    input[type=text] {
      border: 1px solid #ccc;
      padding: 5px;
      width: 250px;
    }
    
    input[type=submit]{
      font-size: 14px;
      padding: 5px;
    }
  </style>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31077078-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body>
  <div class="dialog">
    <a href="/"><img src="http://c10913602.r2.cf2.rackcdn.com/logo.png" /></a>
    <h1>We are doing a little house cleaning!</h1>
    <p>
      The system is down for <%= reason ? reason : "maintenance" %> as of <%= Time.now.strftime("%H:%M %Z") %>.
    </p>
    <p>
     It'll be back <%= deadline ? deadline : "shortly" %>.
    </p>
  </div>
</body>
</html>
