:javascript
  signedIn = #{!current_user.nil?}
%header.header.row
  .col-sm-2.logo
    .header-logo.pull-left
    %h4.header-title
      Dayhome Registry
  .col-md-10.no-left-gutter.nav
    .col-sm-3.search
      %form{action:"/s", id:"search-form", class:"search-form"}
        .search-bar.no-left-gutter
          %i.icon.icon-search.icon-gray.h4
          %input#header-location.location{:autocomplete => "off", :name => "location", :placeholder => "Find your dayhome today", :type => "text"}
    .col-sm-9.text-right.menus
      /
        %ul.nav.pull-right.logged-out.list-unstyled.medium-right-margin
          %li#sign_up.pull-left.medium-right-margin
            %a.link-reset{"data-signup-modal" => "", :href => "/signup_login?redirect_params[action]=new&redirect_params[controller]=rooms", :rel => "nofollow"} Sign Up
          %li#login.pull-left
            %a.link-reset{"data-login-modal" => "", :href => "/login?redirect_params[action]=new&redirect_params[controller]=rooms", :rel => "nofollow"} Log In
      %ul.pull-right.logged-in.list-unstyled
        %li.user-item.pull-left.medium-right-margin.dropdown
          %a#dLabel.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %span.hide-phone.value_name Jon
            %span.caret
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dLabel", :role => "menu"}
            %li{:role => "presentation"}
              %a{:href => "dashboard", :role => "menuitem", :tabindex => "-1"} Dashboard
            %li.divider{:role => "presentation"}
            %li{:role => "presentation"}
              %a{:href => "http://twitter.com/fat", :role => "menuitem", :tabindex => "-1"} My Account    
        %li#inbox-item.inbox-item.pull-left
          %a.link-reset.inbox-icon{:href => "inbox"}
            %i.alert-count.fade.text-center 0
            %i.icon.icon-envelope.icon-gray
              %span.text-hide.hide Inbox

=render "/layouts/beta/subnav" unless @disable_subnav 
