.subnav.hide-print
  .page-container
    %ul.list-unstyled.subnav-list
      %li
        %a.subnav-item{"aria-selected" => "true", :href => "/dashboard"} Dashboard
      %li
        %a.subnav-item{"aria-selected" => "false", :href => "/inbox"} Inbox
      %li
        %a.subnav-item{"aria-selected" => "false", :href => "/rooms"} Your Dayhomes
      %li
        %a.subnav-item{"aria-selected" => "false", :href => "/users/edit"} Profile
      %li
        %a.subnav-item{"aria-selected" => "false", :href => "/account"} Account