/.no-left-gutter.no-right-gutter
.subnav.hide-print.row
  .page-container
    - if(content_for?(:subnav))
      =yield :subnav
    -else
      %ul.list-unstyled.subnav-list
        %li
          %a.subnav-item{"aria-selected" => "#{current_page?(controller: 'beta', action: 'dashboard')}", :href => "dashboard"} Dashboard
        %li
          %a.subnav-item{"aria-selected" => "false", :href => "#"} Inbox
        -if (current_user.organization && !current_user.organization.individual? && !current_user.organization.plan.blank?)
          %li
            %a.subnav-item{"aria-selected" => "#{current_page?(controller: 'dayhomes')}", :href => "dayhomes"} Your Dayhomes
        -if (current_user.organization && !current_user.organization.individual?)
          %li
            %a.subnav-item{"aria-selected" => "#{current_page?(controller: 'beta', action: 'profile')}", :href => "profile"}  Company Profile
          %li
            %a.subnav-item{"aria-selected" => "#{current_page?(controller: 'beta', action: 'plan')}", :href => "plan"}  Your Plan
        -else
          %li
            %a.subnav-item{:href => beta_dayhome_overview_path(current_user.organization.day_homes.first)}  Your Dayhome
        %li
          %a.subnav-item{"aria-selected" => "false", :href => "/shop"} Shop